{%extends 'base.html' %}

{% block title %}
About
{% endblock %}

{% block content %}

<div class="container">
  <h1 class="display-4 heading-text"> About</h1>
  <div class="text-box">
    <h1 class="heading-text">I'm <span class="auto-input"></span></h1>
    <p class="heading-text">You can reach out to me if you need assistance in building the web projects <br /> using flask framework for you.</p>
    <a href="">Contact Me</a>
    <a href="" class="btn-cv">Download CV</a>
  </div>
</div>


{% endblock %}
