{% extends 'base.html' %}

{% block title %}
Password
{% endblock %}

{% block content %}
<div class="container">
  <h1 class="display-4 heading-text">Congratulations! Generated password is: </h1>

  <h1 id='foo' class="result-data display-4">{{pyPassword}} </h1>
  <button class="btn clippy-logo" data-clipboard-target="#foo">
       <img class="clipboard-logo ml-auto" src='../static/clippy.gif' alt="copy-logo">
  </button>
  <br/>
  <br/><br><br>
  <p class="note">Note: The password generated will change each time the user refreshes this page. <br />
         The animated logo is a button to copy the password.</p>
</div>
<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js"></script>

<script>
  var btn = document.getElementById('btn');
  var clipboard = new ClipboardJS('.btn');

  clipboard.on('success', function (e) {
    alert('Password Copied To ClipBoard') });

  clipboard.on('error', function (e) {
    console.log(e);
  });

</script>

{%endblock%}
